div {
  // border: 1px solid black;
}

#gameboard {
  width: 50%;
}

.col-lg-4 {
  height: 200px;
}

.middle {
    border-top: 10px solid black;
    border-bottom: 10px solid black;
}

.left {
    border-right: 10px solid black;
}

.right {
    border-left: 10px solid black;
}
