$board-lines: #000;

.board {
  margin: 0 auto;
  max-width: 550px;
}

.square {
  float: left;
  margin: 0;
  overflow: hidden;
  padding-bottom: 33.333%;
  position: relative;
  width: 33.333%;
}

.board-row {
  clear: both;
}

.middle {
  border-bottom: 10px solid $board-lines;
  border-top: 10px solid $board-lines;
}

.left {
  border-right: 10px solid $board-lines;
}

.right {
  border-left: 10px solid $board-lines;
}

// @media (max-width: 600px) {
//   .board {
//     max-width: 400px;
//     min-width: 100%;
//   }
// }
