$board-lines: #000;

.board {
  margin: 0 auto;
  max-width: 550px;
  height: 550px;
}

.square {
  float: left;
  margin: 0;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 33.333%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-row {
  clear: both;
  height: 33.333%;
}

.middle {
  border-bottom: 10px solid $board-lines;
  border-top: 10px solid $board-lines;
}

.left {
  border-right: 10px solid $board-lines;
}

.right {
  border-left: 10px solid $board-lines;
}

.game-marker {
  font-size: 100px;
  text-align: center;
  display: inline;
  margin: 0;
}

.X {
  color: red;
}

.O {
  color: blue;
}

@media (max-width: 550px) {
  .board {
    max-width: 100%;
    height: 400px;
  }
}
